.animacion-individual{
    margin-top: 3%;
}

.animacion-individual__titulo{
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5%;
    text-shadow: 0 0 5px hsl(253, 100%, 62%) , 0 0 25px hsl(253, 100%, 62%);
}

.animacion-individual__detalles{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-footer);
}


.subtitulo{
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    text-shadow: 0 0 5px hsl(253, 100%, 62%);
}

.linea{
    border-left: solid #fff;
    height: 22%;
    left: 23%;
    position: absolute;
}


.animacion-individual__texto{
    width: 45%;
    padding: 2% 4%;
    font-size: 20px;
    margin-top: 2%;
}

.video{
    display: flex;
    justify-content: center;
}

.animacion-individual__video{
    width: 60%;
    height: 60%;
}

.lista-detalles{
    padding: 2%;
    width: 35%;
    font-size: 20px;
}

@media screen and (max-width:1024px) {
    .animacion-individual{
        margin-top: 5%;
    }
    
    .animacion-individual__video{
        width: 100%;
        margin-top: 3%;
    }

    .subtitulo, .linea{
        display: none;
    }

    .animacion-individual__detalles{
        margin: 10% 0;
    }

    .lista-detalles, .animacion-individual__texto{
        width: 50%;
        font-size: 22px;
        padding: 3%;
        margin-top: 0;
    }
}

@media screen and (max-width: 480px){
    .animacion-individual{
        margin-top: 13%;
    }

    .animacion-individual__titulo{
        font-size: 44px;
    }

    .subtitulo, .linea{
        display: none;
    }

    .animacion-individual__texto , .lista-detalles{
        font-size: 22px;
        padding: 2%;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .lista-detalles{
        padding: 0 3% 3% 8%;
    }

    .animacion-individual__video{
        width: 100%;
        margin-top: 7%;
    }

    .animacion-individual__detalles{
        margin-top: 15%;
        margin-bottom: 15%;
        display: block;
    }
}

