.ilustracion__titulo h1{
    font-size: 50px;
    text-shadow: 0 0 5px rgb(134, 112, 255), 0 0 10px rgb(149, 130, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
}

.ilustracion__contenido{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.ilustracion__area{
    margin-top: 3%;
    background: #19113d90;
    padding: 2%;
}

.ilustracion__area:hover{
    box-shadow: 0 0 5px hsl(253, 100%, 62%) , 0 0 25px hsl(253, 100%, 62%);
    padding: 2.5%;
    background: #170e3bda;
}

@media screen and (max-width: 1024px) {
    .ilustracion__contenido{
        margin-top: 2.5%;
    }
    .ilustracion__area:hover{
        box-shadow: none;
        padding: 2%;
        background: #19113d90;
    }
}

@media screen and (max-width: 480px) {
    .ilustracion__contenido{
        margin-top: 5%;
    }
    .ilustracion__area:hover{
        box-shadow: none;
        padding: 2%;
        background: #19113d90;
    }

    .ilustracion__titulo h1{
        font-size: 40px;
    }
}