.formaciones__contenido{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .experiencia__contenido {
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
    }
}


@media screen and (max-width: 480px) {
    .formaciones__contenido{
        display: table;
        margin-bottom: -3%;
    }
}

