.animacion__titulo h1{
    font-size: 50px;
    text-shadow: 0 0 5px rgb(134, 112, 255), 0 0 10px rgb(149, 130, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
}

.animacion-3d__area--nombre h2{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin-top: 4%;
    text-shadow: 0 0 5px rgb(134, 112, 255), 0 0 10px rgb(149, 130, 255);
}

@media screen and (max-width: 1024px) {
    .animacion-3d__area--nombre h2{
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    .animacion-3d__area--nombre h2{
        font-size: 22px;
    }

    .animacion__titulo h1{
        font-size: 40px;
    }
}