.encabezado{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    position: sticky;
    top: 0px;
    background-color: var(--background-header);
    box-shadow: 2px 2px 10px rgba(39, 15, 20, 0.5) , 2px 2px 25px rgba(39, 15, 20, 0.5);
}

.encabezado a:focus {
    color: rgb(240, 248, 255);
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .encabezado{
        padding: 1% 2%;
    }
}

@media screen and (max-width: 480px) {
    .encabezado{
        justify-content: center;
        margin-bottom: 5%;
        flex-direction: column-reverse;
    }
}


