.habilidades{
    font-family: var(--raleway);
    margin-top: 3%;
}

.habilidades a:hover{
    color: var(--fuente-brillante);

}

@media screen and (max-width: 480px) {
    .habilidades{
        margin: 3% 0 3% 3%;
    }
}

