.boton--cv{
    background: #b3334e;
    padding: 15px 25px;
    position: static;
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: var(--fuente-enlace);
}

.boton--cv:hover{
    color: #ffffff;
    box-shadow: 0 0 5px #ff7db3, 0 0 20px #ff7db3, 0 0 40px #ff7db3;
    text-shadow: 0 0 7px rgb(255, 112, 155);
}


@media screen and (max-width: 1024px) {
    .boton--cv{
        color: #ffffff;
        font-size: 20px;
    }

    .boton--cv:hover{
        color: #ffffff;
        box-shadow: none;
        text-shadow: none;
    }
}

@media screen and (max-width: 480px) {
    .sobre--mi__boton{
        display: flex;
        justify-content: center;
        padding-top: 4%;
    }

    .boton--cv{
        color: #ffffff;
        padding: 10px 20px;
    }

    .boton--cv:hover{
        color: #ffffff;
        box-shadow: none;
        text-shadow: none;
    }
}
