#proyecto-abrir{
    color: var(--fuente-color);
    padding-left:40%;
    font-size: 12px;
    display: none;
}

#proyecto-abrir:hover {
    color: var(--fuente-brillante);
    transition: 0.4s all ease;
    text-decoration: underline;
    text-shadow: 0 0 5px hsl(253, 100%, 62%) , 0 0 25px hsl(253, 100%, 62%);
    animation: neon-glow 1s ease-in-out infinite alternate;
}