.proyectos__titulo h1{
    font-size: 50px;
    text-shadow: 0 0 5px rgb(134, 112, 255), 0 0 10px rgb(149, 130, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
}

.proyecto-portafolio__texto{
    font-size: 16px;
    margin-top: 3%;
}

@media screen and (max-width: 1024px) {
    .proyecto-portafolio__texto{
        font-size: 20px;
        margin: 4% 0;
    }

    .proyectos__titulo h1{
        font-size: 40px;
    }
}


@media screen and (max-width: 480px) {
    .proyecto-portafolio__texto{
        font-size: 14px;
    }

    .proyectos__titulo h1{
        font-size: 40px;
    }
}